<!-- /////////////////////////-----------------NAVBAR-----------------------////////////////// -->
<nav class="navbar">
    <div class="container-md" style="justify-content: center;">
        <h1 class="navbar-header">Lease Summary Report</h1>
    </div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!----------------------------------------------------------- LEASE TABLE DISPLAY HERE--------- ----------------------------------->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="Container">
    <table class="table mt-3 ml-3">
        <thead>
            <tr class="table_th">
                <th scope="col" class="columnColor ">SR.</th>
                <th scope="col" class="columnColor">BUILDING-NAME</th>
                <th scope="col" class="columnColor">UNIT NO</th>
                <th scope="col" class="columnColor">TENANT NAME</th>
                <th scope="col" class="columnColor">LEASE ID</th>
                <th scope="col" class="columnColor">PHONE</th>
                <th scope="col" class="columnColor">PREF RENT</th>
                <th scope="col" class="columnColor">LEASE START</th>
                <th scope="col" class="columnColor">LEASE END</th>
                <th scope="col" class="columnColor">REMARKS</th>
                <th scope="col" class="columnColor">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of localArray_lease | paginate:{ itemsPerPage: 10, currentPage: p, totalItems: totalLength} ; 
            let oddElement = odd; let i= index; " [ngClass]="{'odd': oddElement}">
                <td class="table_td">{{i+1}}</td>
                <td class="table_td">{{data.building}}</td>
                <td class="table_td">{{data.unitNo}}</td>
                <td class="table_td">{{data.firstName}} {{data.lastName}}</td>
                <td class="table_td">{{data.id}}</td>
                <td class="table_td">{{data.phone}}</td>
                <td class="table_td">${{data.prefRent}}</td>
                <td class="table_td">{{data.leaseStartDate}}</td>
                <td class="table_td">{{data.leaseEndDate}}</td>
                <td class="table_td">{{data.remarks}}</td>

                <td class="table_td">
                    <!-- Edit Button trigger modal -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#editModalCenter" (click)="onEdit(data.id)" data-toggle="tooltip"
                        data-placement="bottom" title="edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 17 17">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>

                    <!-- Delete Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteBuildingModal" style="margin-left: 5px" (click)="deleteIndexId = data.id"
                        data-toggle="tooltip" data-placement="bottom" title="delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 17 17">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td colspan="1"><b>Total Preferred Rent:</b> </td>
                <td colspan="1"><b>${{total}}</b> </td>
            </tr>
        </tbody>
    </table>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!----------------------------------------------------------- BUILDING TABLE END HERE--------- ----------------------------------->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Pagination Display Here -->
    <div class="pagination">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>
<!-------- CSV Export Button Display Here ------->
<button class="btn btn-secondary" style="margin-left: 70px;" (click)="exportCSV()">Export CSV</button>

<!-- /////////////----Goto Main Menu----///////////////////// -->
<div class="menu-btn">
    <button class="btn btn-secondary" style="margin-left: 70px;" [routerLink]="''">Goto Main Menu</button>
</div>


<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!----------------------------------------------------------- DELETE MODAL FORM DETAILS-------------------------------------------->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="modal fade" id="deleteBuildingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Delete This Lease</h2>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="deleteLease(deleteIndexId)"
                    data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>